.trail-info-card{
    width:600px;
    text-align: left;
    /* margin:auto; */
}

.trail-tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-section{
    margin: 20px;
}

.tabs{
    color:white;
    border-radius:10px;
    padding:20px;
}
