.community-container{
    display:flex;
    justify-content: space-around;
}

.community-user-list{
    display:flex;
    flex-direction: column;
}

.user-button{
    font-weight: bold;
    background-color: #2c5601;
    border-radius: 15px;
    color:white;
    margin:10px;
    padding:20px;
}
